@CHARSET "ISO-8859-1";

.menuPageTitle .sap-desktop .sapMIBar.sapMHeader-CTX {
	background-color: #FFFFFF;
}

.performancereviewVPPage {
	background-color: #FFFFFF;
	position: absolute;
	overflow: visible;
	top: 0px;
}

.performancereviewVPPage.sapMPage>section {
	overflow: inherit !important;
}

.sapMPageHeader::before {
	border-top: none;
}

.sapMITBContainerContent {
	position: initial;
	border-top: 0;
	border-bottom: 0;
	border-top: 0;
}

.welcomeText {
	font-size: 14px;
	color: #FFFFFF;
	vertical-align: super;
}

.headerBar .sapMBarContainer {
	background-color: rgb(0, 87, 156);
}

.menuTitleBar .sapMBarContainer {
	background-color: #FFFFFF;
	height: 6rem;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.sapMBarContainer {
	overflow: visible;
	padding-bottom: 2.5rem;
}

.sapMIBar.sapMSubHeader-CTX {
	/* background-color: rgb(1, 159, 216);
	height: 8%; */
	
}

.logoutButton {
	padding-top: 0;
}

.logoutButton .sapMBtnInner {
	background-color: rgb(0, 62, 113);
	color: #FFFFFF;
	font-family: 'Arial Bold', 'Arial';
	font-style: normal;
}

/* .sapMBtnHoverable {
	background: rgb(0, 62, 113) !important;
} */
.sapMIBar-CTX .sapMBtnContent {
	line-height: 200%;
}

.sapMBarRight, .sapMBarPH {
	padding-right: 0;
}

.headerLink {
	text-decoration: underline;
	white-space: nowrap;
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: none;
	overflow: visible;
}

.headerText {
	white-space: nowrap;
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: none;
	overflow: visible;
}

.myPathIconTabBar {
	position: relative;
	background-color: #DDDDDD !important;
	width: 100%;
}

.myPathIconTabBar .sapMITBContent {
	position: absolute;
	padding-left: 38px;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBTab
	{
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	height: 5px;
	text-align: center;
}

.myPathIconTabBar span.sapMITBCount {
	border-radius: 0.8em !important;
	-moz-border-radius: 0.8em !important;
	-webkit-border-radius: 0.8em !important;
	color: #ffffff !important;
	display: inline-block !important;
	font-weight: bold !important;
	line-height: 1em !important;
	margin-right: 5px !important;
	text-align: center !important;
	width: 1.1em !important;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBTab .sapMITBCount
	{
	color: #FFFFFF;
	display: inline;
	font-family: 'Arial Bold', Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	text-align: center;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	background: #0098CC;
	border: 4px solid #0098CC;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilterDefault>.sapMITBTab .sapMITBCount
	{
	border: 4px solid #666666;
	background: #666666;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0px;
	text-align: center;
	color: #FFFFFF;
	display: inline;
	font-family: 'Arial Bold', Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	text-align: center;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
}

.myPathIconTabBar .sapMITBTextOnly>.sapMITBVertical {
	height: 5rem;
	width: 10rem;
	/* background-color: rgb(238, 238, 238); */
	font-family: 'Arial Regular', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
	background-color: #DDDDDD;
}

.myPathIconTabBar .sapMITBSelected>.sapMITBContentArrow {
	border-bottom-color: #FFFFFF;
	border-bottom-width: 30px;
}

.myPathIconTabBar .sapMPage>.sapMPageHeader+.sapMPageSubHeader+section {
	top: 5em;
}

.myPathIconTabBar.sapMITBContent {
	background-color: #FFFFFF;
	padding: 0 2.2rem 1rem;
	position: relative;
	padding-top: 1rem;
}

.myPathIconTabBar .sapMLabelRequired:before {
	content: "*";
	color: red;
	font-size: 1rem;
	line-height: 0.9375rem;
}

.mypathForm .sapUiFormResGrid>div {
	padding-left: 1rem;
	background-color: #FFFFFF;
	text-align: left !important;
	/* -webkit-box-shadow: 6px 6px 19px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 6px 19px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 6px 19px -5px rgba(0, 0, 0, 0.75); */
}

.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont>.sapUiFormResGridLbl:not
	 (.sapUiRespGridSpanS12 )>.sapMLabel, .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormResGridLbl:not
	 (.sapUiRespGridSpanM12 )>.sapMLabel, .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormResGridLbl:not
	 (.sapUiRespGridSpanL12 )>.sapMLabel {
	text-align: start !important;
	float: none;
}

.myPathIconTabBar .sapUiFormResGrid {
	border: 2px solid #DDDDDD;
	width: 80%;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText
	{
	color: rgb(1, 159, 216);
	display: inline;
	font-family: 'Arial Bold', Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	height: auto;
	line-height: normal;
	text-align: center;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	background-color: #FFFFFF;
	outline: 0;
	text-align: center;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilterDefault>.sapMITBText {
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	font-size: 90%;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
	line-height: 1;
	word-break: break-word;
	outline: 0;
	text-align: center;
	margin: 0;
	background-color: #DDDDDD;
}

.myPathIconTabBar .sap-desktop .sapMITBTextOnly .sapMITBItem:focus .sapMITBText
	{
	outline: 0;
	outline-width: 10px;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilter.sapMITBSelected {
	background-color: #FFFFFF;
	margin-top: -3px !important;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilter {
	margin: 0 0rem;
	border-right: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
	float: left !important;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilter:last-child {
	margin: 0 0rem;
	border-right: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBFilter:first-child {
	border-right: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200);
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBTab {
	width: auto;
	height: 1rem;
	margin-bottom: 0.1875rem;
	text-align: left;
	padding: 10px 3.75rem 1rem;
	text-align: center;
	height: 5px;
}

.myPathIconTabBar .sapMITBTextOnly .sapMITBText {
	padding: 0;
}

.myPathIconTabBar .sapMITBHead {
	white-space: normal;
	margin: 0;
	padding: 0;
	text-align: left;
	padding-left: 35px;
	height: 66px;
}

/*  menu Tile */
.first {
	padding-top: 40px;
	border-left: 6px solid rgb(0, 157, 213);
}

.mypathMTileSmall {
	height: 6rem !important;
	width: 6rem !important;
	background-color: #FFFFFF !important;
	border-color: 2px solid rgb(238, 238, 238);
	/* padding-left: 1rem; */
	margin: 0;
	position: relative;
}

.mypathMTileSmall.sapMTileActive {
	background-color: #FFFFFF !important;
}

.topButtonDiv {
	visibility: visible;
}

.mypathMTileSmall.sapMTileActive .mypathMStdTileTitleSmall,
	.mypathMTileSmall.sapMTileActive .mypathMStdTileNumUnitSmall {
	color: #fff;
}

.mypathMTileContentSmall {
	overflow: hidden;
	height: 5.2rem;
	width: 7.5rem;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.mypathMStdTileTopRightSmall {
	text-align: center;
	padding-top: 1rem;
	padding-right: 1.5rem;
}

.mypathMStdTileNumUnitSmall {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #333;
	float: right;
}

.mypathMStdTileTopRowSmall {
	height: 1.5rem;
	padding: 0.07rem 0.35rem 0 0.15rem;
	margin-bottom: 0.0rem;
}

.mypathMStdTileTitleSmall {
	vertical-align: middle;
	font-style: normal;
	height: 2rem;
	width: 80%;
	overflow: hidden;
	word-break: break-word;
	float: left;
	padding-top: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(136, 151, 158);
	letter-spacing: 0pt;
	word-spacing: 0pt;
	font-size: 14px;
	text-align: center;
	font-family: courier new, courier, monospace;
	line-height: 1;
	margin: 0px;
	padding: 0px;
}

.mypathMStdTileNumDivSmall {
	display: inline-block;
	color: #333;
	float: right;
	width: 100%;
	height: 1.5rem;
}

.mypathMStdTileNumSmall, .mypathMStdTileNumMSmall,
	.mypathMStdTileNumSSmall {
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
	padding: 0.1rem 0rem 0 .1rem;
	/*line-height: 1em;*/
}

.mypathMStdTileNumSmall span, .mypathMStdTileNumMSmall span,
	.mypathMStdTileNumSSmall span {
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
	font-family: 'OpenSans-CondBold', sans-serif;
	color: #333;
	font-size: 1.05rem;
	border: 1px solid #ccc;
	background-color: #fafafa;
	padding: 0.1rem 0.1rem 0.1rem 0.1rem;
	line-height: 1rem;
	border-radius: 0.2em;
}

.performancereviewVP_details_style {
	background-color: #DDDDDD;
	position: relative;
	border-radius: 5px;
	text-align: left;
	margin-bottom: 10px;
}

.titleText {
	font-family: 'Arial' !important;
	font-weight: 400 !important;
	font-style: normal !important;
	font-size: 14px !important;
	color: #333333;
	padding-left: 10px;
}

.perfRevVPlabel_style {
	font-family: 'Arial' !important;
	font-weight: 400 !important;
	font-style: normal !important;
	font-size: 14px !important;
	color: #666666 !important;
	white-space: normal;
	overflow: visible;
	height: auto;
	text-align: right !important;
}

.workflowCSS {
	position: relative;
	right: 0;
	min-width: 100px;
	text-align: center;
	float: right;
}

.workflowHeaderCSS .sapMText {
	font-family: 'Arial Bold', 'Arial';
	font-size: 11px;
	color: #B2BDC1;
	text-align: center !important;
}

.workflowHeaderTextChina {
	height: 13px;
	width: 94px;
}

hr.vertical {
	width: 0.063rem;
	/* height: 100%; */
	background-color: rgb(8, 161, 216);
	position: absolute;
	border-color: rgb(8, 161, 216);
	border-style: solid;
	right: 3rem;
}

hr.verticalGrey {
	width: 0.063rem;
	/* height: 100%; */
	background-color: rgb(204, 204, 204);
	position: absolute;
	border-color: rgb(204, 204, 204);
	border-style: solid;
	right: 3rem;
}

hr.verticalBlank {
	width: 0.063rem;
	/* height: 100%; */
	background-color: rgb(189, 224, 189);
	position: absolute;
	border-color: rgb(189, 224, 189);
	border-style: solid;
	right: 3rem;
}

.tdClass img {
	max-width: 100%;
	border-radius: 50%;
	border-color: rgb(8, 161, 216);
	position: relative;
	margin: auto;
	left: auto;
	right: auto;
	background-color: #ffffff;
}

a.tooltip {
	outline: none;
}

a.tooltip strong {
	line-height: 0px;
}

a.tooltip:hover {
	text-decoration: none;
}

a.tooltip span {
	z-index: 10;
	display: none;
	padding: 10px 10px;
	margin-top: 5px;
	margin-left: -280px;
	width: 200px;
	line-height: 16px;
}

a.tooltip:hover span {
	display: inline;
	position: absolute;
	color: #FFFFFF;
	border: 1px solid rgb(57, 130, 161);
	background: rgb(57, 130, 161);
}

/*CSS3 extras*/
a.tooltip span {
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}

.pdfImageVP {
	float: right;
	position: absolute;
	top: 12px;
	right: 100px;
}

/* objective table css */
.mergeCellAttr {
	background: #DDDDDD !important;
}

.mergeCellAttr .sapMListTblCell .sapMListTblHeaderCell {
	padding-left: 10px;
}

.hText {
	transform: rotate(-90deg);
	width: 29%;
	position: absolute;
	padding-bottom: 25%;
	padding-left: 16%;
	text-align: center !important;
}

.tableCSS {
	/* padding-right: 80px; */
	position: relative;
}

.tableCSS .sapMListTblCell:first-child, .sapMListTblNone:first-child+.sapMListTblCell
	{
	padding-left: 15px;
	height: 45px;
	vertical-align: middle;
	color: rgb(51, 51, 51);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	text-align: left;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	height: 45px;
	vertical-align: middle;
}

.tableCSS .sapMListTbl th {
	background: #ffffff;
	padding-left: 10px;
	height: 45px;
	vertical-align: middle;
	color: rgb(51, 51, 51);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	text-align: left;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	height: 45px;
	vertical-align: middle;
}

.tableCSS table th {
	/* border: 1px solid rgb(229,229,229);	 */
	/* cursor: pointer; */
	
}

.fourSideBorderInHeaderCSS {
	border: 1px solid rgb(229, 229, 229);
}

.threeSideBorderInHeaderCSS1 {
	border-left: 1px solid rgb(229, 229, 229);
	border-top: 1px solid rgb(229, 229, 229);
	border-bottom: 1px solid rgb(229, 229, 229);
}

.threeSideBorderInHeaderCSS2 {
	border-right: 1px solid rgb(229, 229, 229);
	border-top: 1px solid rgb(229, 229, 229);
	border-bottom: 1px solid rgb(229, 229, 229);
}

.tableCSS .sapMListTblCell {
	padding: 0px;
}

.sap-desktop .sapMListTblRow:focus {
	outline: 0;
}

/* .tableCSS .sapMListTbl .sapMText, .sapMListTbl .sapMLabel {
	padding-top: 8px;
} */

.tableCSS table td:nth-child(odd) {
	border-left: 1px solid rgb(229, 229, 229);
	/* width: 10px; */
	/* cursor: pointer; */
}

.tableCSS table tbody {
	display: none;
}

.rowTableCSS {
	position: relative;
	margin-bottom: 50px;
}

.rowTableCSS table thead {
	visibility: hidden;
}

.rowTableCSS tbody tr td {
	border-left: 1px solid rgb(229, 229, 229);
}

.rowTableCSS .sapMListTblCell {
	padding: 0;
	/* border-bottom: 1px dotted ; */
}

.rowTableCSS .sapMListBGTranslucent .sapMListTblHeader,
	.sapMListBGTranslucent .sapMListTblFooter, .sapMListBGTranslucent .sapMLIB.sapMListTblRow:nth-child(even)
	{
	background-color: rgb(229, 229, 229);
}

.rowTableCSS .sapMLIB.sapMListTblRow {
	height: 170px;
}

.rowTableCSS .sapMListTbl {
	border-right: 1px solid rgb(229, 229, 229);
}

.financialKpiCSS {
	padding-right: 150px;
	position: absolute;
	margin-bottom: 50px;
}

.financialKpiCSS .sapMListTblCell:first-child, .sapMListTblNone:first-child+.sapMListTblCell
	{
	padding-left: 15px;
	height: 45px;
	vertical-align: middle;
	color: rgb(51, 51, 51);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	text-align: left;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	height: 45px;
	vertical-align: middle;
}

.financialKpiCSS .sapMListTbl th {
	background: #ffffff;
	padding-left: 15px;
	height: 45px;
	vertical-align: middle;
	color: rgb(51, 51, 51);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	text-align: left;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	height: 45px;
	vertical-align: middle;
}

.financialKpiCSS tbody tr td {
	border-left: 1px solid rgb(229, 229, 229);
	/* border-bottom: 1px dotted rgb(149,149,149); */
	/* width: 10px; */
	/* cursor: pointer; */
}

.financialKpiCSS .sapMListTblCell {
	padding: 0px;
}

.financialKpiCSS .sapMListBGTranslucent .sapMListTblHeader,
	.sapMListBGTranslucent .sapMListTblFooter, .sapMListBGTranslucent .sapMLIB.sapMListTblRow:nth-child(even)
	{
	background-color: rgb(229, 229, 229);
}

.assessmentlabelCSS.sapMLabel {
	font-size: 14px;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
	padding-left: 10px;
	padding-top: 10px;
}

.dropdownlabelCSS.sapMLabel {
	font-size: 14px;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
	padding-left: 10px;
}

.empRevlabelCSS.sapMLabel {
	font-size: 14px;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
	padding-left: 10px;
	padding-top: 15px;
}

.empRevlabelRequiredCSS.sapMLabel {
	font-size: 14px;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
	padding-left: 0px;
	padding-top: 15px;
}

.kpiActuallabelCSS.sapMLabel {
	font-size: 14px;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
	padding-top: 70px;
}

.kpiActualTextCSS.sapMText {
	text-align: center;
	line-height: normal;
	padding-top: 70px;
	padding-left: 10px;
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #666666;
}

.financialKPIsTDCSS {
	text-align: center !important;
}

.matLayoutCSS {
	border: 0 !important;
	vertical-align: top !important;
	padding: 1px 4px;
}

.matLayoutCSS .sapMInputBase.sapMTextArea {
	padding: 5px;
}

.KPIActualCSS {
	border: 0 !important;
	vertical-align: bottom !important;
	padding: 1px 4px;
}

.matLayoutTableCSS tbody tr td {
	border-left: 0;
	border-bottom: 0;
}

.matLayoutTableCSS tbody tr td:first-child {
	text-align: right;
}

.matLayoutTableCSS tbody tr td:nth-child(even) {
	padding-left: 10px;
	vertical-align: middle;
}

/* CSS for footer buttons */
.cancel_btn_style {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.save_btn_style {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.create_btn_style {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.btn_normal, .btn_normal_blue {
	height: 4rem;
	z-index: 2;
}

.btn_normal .sapMBtnDefault {
	text-decoration: none;
	border: none !important;
	outline: none;
	background: #DCE4E5 !important;
	margin-left: 0px;
	border-radius: 0px !important;
	font-weight: bold !important;
	line-height: 4rem;
	height: 4rem;
}

.btn_normal_blue .sapMBtnDefault {
	text-decoration: none;
	border: none !important;
	outline: none;
	background: #019FD8 !important;
	color: white !important;
	margin-left: 0px;
	border-radius: 0px !important;
	font-weight: bold !important;
	line-height: 4rem;
	height: 4rem;
}

.btn_normal_blue .sapMBtnContent {
	line-height: 4rem;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}

.btn_normal .sapMBtnContent {
	line-height: 4rem;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #333333;
	text-align: center;
}

/* individualObjectivesTableCSS */
.individualObjectivesTableCSS {
	position: relative;
	padding-top: 2%;
}

.individualObjectivesTableCSS .sapMListTblCell:first-child, .sapMListTblNone:first-child+.sapMListTblCell
	{
	padding-left: 15px;
	vertical-align: middle;
}

.individualObjectivesTableCSS .sapMListTbl th {
	background: #ffffff;
	padding-left: 10px;
	height: 45px;
	vertical-align: middle;
	color: rgb(51, 51, 51);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	text-align: left;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	height: 45px;
	vertical-align: middle;
}

.individualObjectivesTableCSS .sapMListTblCell {
	padding: 0px;
}

/* .individualObjectivesTableCSS .sapMListTbl .sapMText, .sapMListTbl .sapMLabel {
	padding-top: 8px;
} */

.individualObjectivesTableCSS table td:nth-child(odd) {
	border-left: 1px solid rgb(229, 229, 229);
}

.individualObjectivesTableCSS table tbody {
	display: none;
}

/* individualObjectivesTableCSSRow */
.individualObjectivesTableCSSRow {
	position: relative;
}

.individualObjectivesTableCSSRow table thead {
	visibility: hidden;
}

.individualObjectivesTableCSSRow tbody tr td {
	border-left: 1px solid rgb(229, 229, 229);
}

.individualObjectivesTableCSSRow .sapMListTblCell {
	padding: 0;
}

.individualObjectivesTableCSSRow .sapMListBGTranslucent .sapMListTblHeader,
	.sapMListBGTranslucent .sapMListTblFooter, .sapMListBGTranslucent .sapMLIB.sapMListTblRow:nth-child(even)
	{
	background-color: rgb(229, 229, 229);
}

.addButtonCSS {
	margin-bottom: 50px;
}

.addButtonCSS .sapMListTblCell:first-child, .sapMListTblNone:first-child+.sapMListTblCell {
	text-align: end !important;
}

.addButtonCSS .sapMListTbl th {
	background: #ffffff;
}

.addButtonCSS table tbody {
	display: none;
}

.addButtonCSS .sapMListTblCell {
	padding: 5px;
}

.individualObjFormCSS .sapUiFormResLayout>div {
	background-color: transparent;
}

.mypath_add_button_style {
	float: right;
}

.mypath_add_button_style .sapMBtnContentRight {
	padding-left: 3.375rem;
	font-family: 'Arial Regular', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-align: center;
}

.mypath_add_button_style .sapMBtnPaddingRight {
	border-radius: 5px;
}

.mypath_add_button_style .sapMBtnInner.sapMBtnEmphasized>.sapMBtnIcon {
	border-right: 1.5px solid #ffffff;
}

.showMoreText {
	color: #666666;
	font-size: 0.875rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	word-wrap: break-word;
	width: 97% !important;
}

.showMoreLink {
	position: relative;
	font-size: 14px;
	color: #019FD8;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	text-align: center;
	line-height: normal;
	display: inline-flex;
	cursor: pointer;
}

.showMoreLink:visited {
	color: #019FD8;
}

.showMoreDialog .sapMDialogSection {
	border: 6px solid #333333;
}

.showMoreDialog {
	border: 0;
	overflow: visible;
}

.showMoreDialogClosebtn {
	background: #333333;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	border-radius: 80%;
	cursor: pointer;
	padding: 10px;
	position: absolute;
	top: -20px;
	right: -20px;
	height: 20px;
	z-index: 1;
}

.showMoreTextStyle {
	word-wrap: break-word;
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #666666;
	text-align: left;
	line-height: normal;
}

.matLayoutOverallAssessmentCSS {
	border: 0 !important;
	vertical-align: top !important;
	padding: 10px 100px;
}

.per_obj_btn {
	font-size: 14px;
	color: #009FD7 !important;
	height: 35px;
	float: right;
	margin-top: 5px;
}

/* individualObjectivesTableWithDeleteButtonCSS */
.individualObjectivesTableWithDeleteButtonCSS {
	position: relative;
	padding-top: 2%;
	margin-bottom: 0px;
	width: 92.5%;
}

.individualObjectivesTableWithDeleteButtonCSS .sapMListTblCell:first-child, .sapMListTblNone:first-child+.sapMListTblCell
	{
	padding-left: 15px;
}

.individualObjectivesTableWithDeleteButtonCSS .sapMListTbl th {
	background: #ffffff;
	padding-left: 10px;
	vertical-align: middle;
	color: rgb(51, 51, 51);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	text-align: left;
	visibility: visible;
	width: auto;
	word-wrap: break-word;
	height: 35px;
	vertical-align: middle; 
}

.individualObjectivesTableWithDeleteButtonCSS .sapMListTblCell {
	padding: 5px;
}

/* .individualObjectivesTableWithDeleteButtonCSS .sapMListTbl .sapMText,
	.sapMListTbl .sapMLabel {
	padding-top: 8px;
} */

.individualObjectivesTableWithDeleteButtonCSS table td:nth-child(odd) {
	border-left: 0;
}

.individualObjectivesTableWithDeleteButtonCSS table tbody {
	display: none;
}

.overallTableCSS {
	position: relative;
	margin-bottom: 50px;
}

.overallTableCSS table thead {
	visibility: hidden;
}

.overallTableCSS tbody tr td {
	border-left: 1px solid rgb(229, 229, 229);
	/* border-bottom: 1px dotted rgb(149,149,149); */
	/* width: 10px; */
	/* cursor: pointer; */
}

.overallTableCSS .sapMListTblCell {
	padding: 0;
	/* border-bottom: 1px dotted ; */
}

.overallTableCSS .sapMListTbl {
	min-height: 150px;
}

.overallTableCSS .sapMListBGTranslucent .sapMListTblHeader,
	.sapMListBGTranslucent .sapMListTblFooter, .sapMListBGTranslucent .sapMLIB.sapMListTblRow:nth-child(even)
	{
	background-color: rgb(229, 229, 229);
}

.overallTableCSS .sapMListTbl {
	border-right: 1px solid rgb(229, 229, 229);
}

.individualObjectivesTableWithDeleteButtonCSSRow {
	position: relative;
	margin-bottom: 0px;
}

.individualObjectivesTableWithDeleteButtonCSSRow .sapMListTblCell {
	vertical-align: top !important;
}

.individualObjectivesTableWithDeleteButtonCSSRow .sapMListTbl {
	border-right: 1px solid rgb(229, 229, 229);
	border-left: 1px solid rgb(229, 229, 229);
}

.attachmentImageVP {
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
}

.attachmentImageVP .sapUiVltCell.sapuiVltCell {
	width: 60px;
}

.header_link_number_blueVP {
	width: 27px;
	line-height: 13px;
	color: white;
	background-color: rgb(1, 159, 216);
	padding: 5px;
	border-radius: 50%;
	margin-top: 5px;
	position: absolute;
	font-weight: 700;
	text-align: center !important;
	cursor: pointer;
}

.top_panel_display_contentVP {
	height: 100%;
	width: 4%;
	background: transparent;
	float: right;
}

.dropdownlabelCSS.sapMLabel {
	font-size: 14px;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #333333;
	text-align: left;
	line-height: normal;
	padding-left: 10px;
}

.predefinedObjTableCSS {
	position: relative;
	border-left: 1px solid rgb(229, 229, 229);
}

.predefinedObjTableCSS table thead {
	visibility: hidden;
}

.predefinedObjTableCSS tbody tr td {
	
}

.predefinedObjTableCSS .sapMListTblCell {
	padding: 0;
	/* border-bottom: 1px dotted ; */
}

.predefinedObjTableCSS .sapMListBGTranslucent .sapMListTblHeader,
	.sapMListBGTranslucent .sapMListTblFooter, .sapMListBGTranslucent .sapMLIB.sapMListTblRow:nth-child(even)
	{
	background-color: rgb(229, 229, 229);
}

.predefinedObjTableCSS .sapMListTbl {
	border-right: 1px solid rgb(229, 229, 229);
}